.App {
  /* text-align: center; */
  /* font-size: 800; */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
main {
  display: flex;
}
.card {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px;
  max-height: 500px;
  max-width: 500px;
  
}

.links{
  display: flex;
  justify-content: space-evenly;
}

/* .link {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  background-color: gray;
  margin: 10px;
  color: black;
}
link:hover{
  
} */

.link {
  background: none; /* color de fondo */
  color: black; /* color de fuente */
  border: 1px solid black; /* tamaño y color de borde */
  font-weight: 700;
  padding: 8px 20px;
  margin: 10px;
  width: 100%;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.link:hover {
  color: #e7e7e7;/* color de fuente hover */
}
.link::after {
  content: "";
  background: #92969b; /* color de fondo hover */
  position: absolute;
  opacity: 0.7;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}
.link:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */


